.inner {border:none;padding:0px;margin:0px;}

table {
font-family:arial, helvetica;
font-size:14pt;
}

td {
font-size:20;
width: 100px;
padding-left: 1px;
padding-bottom: 1px;
padding-top:1px;
padding-right: 1px;
vertical-align:top;
background-color:#ffffff;
}

.summer {background-color: #F7F67F;}
th {
font-size: 20;
font-family:arial, helvetica;
}

.dayheader {
font-size:20;
padding-bottom: 1px;
background-color: #ffffff;
text-align: centre;
}

.monthtable {
background-color: pink;
border-spacing: 1px;
}

.monthname {
background-color:#ffffff;
}
.dayno {
}

.srss {
font-size: 10pt;
padding-right: 10pt;
text-align:left;
font-family: times;
border:none;
}
.srss2 {
font-size: 10pt;
padding-right: 0pt;
text-align:left;
font-family: times;
border:none;
}

.invisible {
position:absolute;
visibility:hidden;
font-size:10pt;
background:#EAF5AF;
}
.floattable {
border:solid 1px black;
font-size:10pt;
background:#AF5AF0;
padding-left:2px;
padding-right:2px;
padding-top:2px;
padding-bottom:2px;
width:0px;
}

.ftd {
   border:solid 1px black;
}
