m_file << "table {border-collapse:collapse;}" << endl;
m_file << "" << endl;
m_file << ".inner {border:none;}" << endl;
m_file << "" << endl;
m_file << "table td {" << endl;
m_file << "border: solid 1px black;" << endl;
m_file << "}" << endl;
m_file << "" << endl;
m_file << "" << endl;
m_file << "table {" << endl;
m_file << "font-family:arial, helvetica;" << endl;
m_file << "font-size:14pt;" << endl;
m_file << "background-color: #C6FCFE;" << endl;
m_file << "}" << endl;
m_file << "" << endl;
m_file << "td {" << endl;
m_file << "font-size:20;" << endl;
m_file << "width: 140px;" << endl;
m_file << "padding-left: 5px;" << endl;
m_file << "padding-bottom: 10px;" << endl;
m_file << "padding-top:2px;" << endl;
m_file << "padding-right: 10px;" << endl;
m_file << "vertical-align:top;" << endl;
m_file << "}" << endl;
m_file << "" << endl;
m_file << "" << endl;
m_file << ".summer {background-color: #F7F67F;}" << endl;
m_file << "th {" << endl;
m_file << "font-size: 20;" << endl;
m_file << "font-family:arial, helvetica;" << endl;
m_file << "}" << endl;
m_file << "" << endl;
m_file << ".dayheader {" << endl;
m_file << "font-size:20;" << endl;
m_file << "padding-bottom: 10px;" << endl;
m_file << "background-color: #eeeeff;" << endl;
m_file << "}" << endl;
m_file << "" << endl;
m_file << ".srss {" << endl;
m_file << "width:0px;" << endl;
m_file << "font-size: 8pt;" << endl;
m_file << "padding-right: 0pt;" << endl;
m_file << "text-align:right;" << endl;
m_file << "font-family: times;" << endl;
m_file << "border:none;" << endl;
m_file << "}" << endl;
m_file << "" << endl;
m_file << ".invisible {" << endl;
m_file << "position:absolute;" << endl;
m_file << "visibility:hidden;" << endl;
m_file << "font-size:10pt;" << endl;
m_file << "background:#EAF5AF;" << endl;
m_file << "}" << endl;
m_file << ".floattable {" << endl;
m_file << "border:solid 1px black;" << endl;
m_file << "font-size:10pt;" << endl;
m_file << "background:#AF5AF0;" << endl;
m_file << "padding-left:2px;" << endl;
m_file << "padding-right:2px;" << endl;
m_file << "padding-top:2px;" << endl;
m_file << "padding-bottom:2px;" << endl;
m_file << "width:0px;" << endl;
m_file << "}" << endl;
m_file << "" << endl;
m_file << ".ftd {" << endl;
m_file << "   border:solid 1px black;" << endl;
m_file << "}" << endl;
